Repository hmcts/da-cos-api, pull requests merged in 2021-12, with the labels that each got.

#18 Sonar qube fixes and added test cases.
  src/test/java/uk/gov/hmcts/reform/da/common/config/AddSystemUpdateRoleTest.java
  src/test/java/uk/gov/hmcts/reform/da/dacase/DomesticAbuseTest.java
  src/test/java/uk/gov/hmcts/reform/da/dacase/model/ApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/da/dacase/model/ApplicationTypeTest.java
  src/test/java/uk/gov/hmcts/reform/da/idam/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/da/solicitor/event/SolicitorCreateApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/da/solicitor/service/CcdAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/da/solicitor/service/task/DomesticAbuseApplicationDraftTest.java
Labels: ns:domestic-abuse, prd:da, rel:da-cos-api-pr-18

#19 sonarcloud code smells fix
  src/main/java/uk/gov/hmcts/reform/da/solicitor/service/task/DomesticAbuseApplicationDraft.java
Labels: ns:domestic-abuse, prd:da, rel:da-cos-api-pr-19

#25 Fix/unit test cases
  build.gradle
  src/test/java/uk/gov/hmcts/reform/da/dacase/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/da/dacase/model/access/CaseWorkerAccessTest.java
  src/test/java/uk/gov/hmcts/reform/da/dacase/model/access/CaseworkerAccessBetaOnlyAccessTest.java
  src/test/java/uk/gov/hmcts/reform/da/dacase/model/access/CaseworkerAndSuperUserAccessTest.java
  src/test/java/uk/gov/hmcts/reform/da/dacase/model/access/CaseworkerBetaAndSuperUserAccessTest.java
  src/test/java/uk/gov/hmcts/reform/da/dacase/model/access/CaseworkerCourtAdminAccessTest.java
  src/test/java/uk/gov/hmcts/reform/da/dacase/model/access/CaseworkerCourtAdminWithSolicitorAccessTest.java
  src/test/java/uk/gov/hmcts/reform/da/dacase/model/access/DefaultAccessTest.java
  src/test/java/uk/gov/hmcts/reform/da/dacase/model/access/SystemUpdateAndSuperUserAccessTest.java
  src/test/java/uk/gov/hmcts/reform/da/dacase/tab/TabShowConditionTest.java
  src/test/java/uk/gov/hmcts/reform/da/dacase/task/CaseTaskRunnerTest.java
  src/test/java/uk/gov/hmcts/reform/da/dacase/validation/CaseValidationTest.java
  src/test/java/uk/gov/hmcts/reform/da/dacase/workbasket/WorkBasketInputFieldsTest.java
  src/test/java/uk/gov/hmcts/reform/da/dacase/workbasket/WorkBasketResultFieldsTest.java
  src/test/java/uk/gov/hmcts/reform/da/testutil/TestConstants.java
Labels: ns:domestic-abuse, prd:da, rel:da-cos-api-pr-25

#35 add Smoke test
  build.gradle
  src/smokeTest/java/uk/gov/hmcts/reform/da/smoketests/SmokeTest.java
Labels: ns:domestic-abuse, prd:da, rel:da-cos-api-pr-35
